DEVELOPMET=development
STAGING=staging
PRODUCTION=production

COMPOSE_PROJECT_NAME = "qtim-test-api"
NODE_ENV="${DEVELOPMET}"
PORT=3000

DB_NAME = "qtim-api-db"
SERVER_NAME = "qtim-api"
USER_DOCKERHUB = "matvi"
SERVER_IMAGE_NAME = "${USER_DOCKERHUB}/${SERVER_NAME}"
DB_IMAGE_NAME = "${USER_DOCKERHUB}/${DB_NAME}"

POSTGRES_DB=qtim_api_db
POSTGRES_FILE_LOCATION='./'
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_HOST=postgres
LOCAL_HOST=localhost
POSTGRES_PORT=5432

DATABASE_URL="postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${LOCAL_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}?schema=public"

REDIS_NAME = "qtim-api-redis"
REDIS_FILE_LOCATION='./'
REDIS_HOST=localhost
REDIS_PORT=6379

CRYPT_SALT=10
JWT_SECRET_ACCESS_KEY=secretaccess
JWT_SECRET_REFRESH_KEY=secretrefresh
TOKEN_EXPIRE_TIME=2h
TOKEN_REFRESH_EXPIRE_TIME=2d